.page {
  padding: 20px;
  user-select: none;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  max-width: 1350px;
  min-height: 100vh;
  padding-block: 20px;
  margin-inline: auto;
  position: relative;
}

.sidebar_wrapper {
  align-self: start;
  flex-shrink: 0;
  flex-grow: 0;
  top: 40px;
  position: sticky;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.grid {
  display: grid;
  align-self: start;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1000px;
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
  rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, 
  rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.card:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.card .image {
  margin-block: 20px;
  height: 150px;
  justify-content: center;
  display: flex;
}

.card .image img {
  height: 100%;
  object-fit: cover;
  background: rgba(0, 0, 0, 0.10);
}

.card .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 100%;
  color: #222831;
}

.details .primary {
  padding: 10px 20px;
}

.details .primary .label {
  letter-spacing: 1px;
}

.details .secondary {
  display: flex;
  flex-direction: column;
}

.details .secondary .price {
  padding: 10px 20px;
  align-self: end;
}

.details .secondary .order_now {
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  background: #820000;
  color: #DDDDDD;
}

@media (max-width: 1356px) {
  .menu {
    display: block;
  }

  .grid {
    margin-top: 110px;
    margin-inline: auto;
  }

  .sidebar_wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    overflow-x: scroll;
    box-shadow: unset;
    background: #fff;
  }

  .sidebar_wrapper::-webkit-scrollbar {
    background: rgba(0,0,0,0.3); 
  }

  .sidebar_wrapper::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 -15px 10px rgba(130,0,0,0.9); 
  }
}

@media (max-width: 980px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 780px) {
  .card .image {
    height: 100px;
  }
  .details .primary .label {
    font-size: 14px;
  }
}

@media (max-width: 669px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .card .image {
    height: 120px;
  }
}

@media (max-width: 480px) {
  .card .image {
    height: 100px;
    margin-block: 10px;
  }
  .details .primary .label {
    font-size: 12px;
  }
  .details .secondary .price {
    font-size: 12px;
  }
  .order_now {
    font-size: 12px;
  }
}

@media (max-width: 380px) {
  .card .image {
    height: 80px;
  }
  .details .primary .label {
    font-size: 10px;
  }
  .details .secondary .price {
    font-size: 10px;
  }
  .order_now {
    font-size: 10px;
  }
}
