.home {
  padding: 20px;
}

.grid {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 500px);
  max-width: 1100px;
  margin-inline: auto;
  gap: 20px;
  list-style: none;
}

.item a {
  text-decoration: none;
}

.card {
  display: flex;
  align-items: center;
  box-shadow: 
  rgba(0, 0, 0, 0.09) 0px 2px 1px, 
  rgba(0, 0, 0, 0.09) 0px 4px 2px, 
  rgba(0, 0, 0, 0.09) 0px 8px 4px, 
  rgba(0, 0, 0, 0.09) 0px 16px 8px, 
  rgba(0, 0, 0, 0.09) 0px 32px 16px;
  overflow: hidden;
  border-radius: 5px;
  background: #820000;
}

.card .image {
  height: 180px;
  display: flex;
  justify-content: center;
  background: #fff;
}

.card .image img {
  height: 100%;
  object-fit: cover;
  transform: scale(1.05);
  transition: transform 300ms ease;
}

.card .category {
  padding: 20px;
  color: #DDDDDD;
  font-size: 22px;
  transition: text-indent 300ms ease;
}

.card:hover .image > img {
  transform: scale(1);
}

.card:hover .category {
  text-indent: 20px;
}

@media (max-width: 1100px) {
  .grid {
    grid-template-columns: repeat(2, 450px);
  }
  .card .image {
    height: 150px;
  }
  .card .category {
    font-size: 20px;
  }
}

@media (max-width: 965px) {
  .grid {
    grid-template-columns: repeat(2, 400px);
  }
  .card .image {
    height: 130px;
  }
  .card .category {
    text-indent: unset;
  }
  .card:hover .category {
    text-indent: unset;
  }
  .card img {
    transform: scale(1);
  }
  .card:hover img {
    transform: scale(1);
  }
}

@media (max-width: 865px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 655px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .card .image {
    height: 150px;
  }
  .card .category {
    text-indent: 30px;
  }
}

@media (max-width: 500px) {
  .card .category {
    text-indent: unset;
    text-align: unset;
  }
}


@media (max-width: 450px) {
  .card .image {
    height: 140px;
  }
  .card .category {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .card .image {
    height: 120px;
  }
}

@media (max-width: 330px) {
  .card .image {
    height: 100px;
  }
  .card .category {
    font-size: 16px;
  }
}
