.sidebar {
  list-style: none;
  width: 280px;
}

.item a {
  text-decoration: none;
  color: unset;
  user-select: none;
}

.item .category {
  padding: 30px;
  position: relative;
}

.item:hover {
  background: rgba(0, 0, 0, 0.12);
}

.item.active .category::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background: #990000;
}

.item.active .category {
  color: #990000;
}

.item .image {
  display: none;
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #7F8487;
}

.item .image img {
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1356px) {
  .sidebar {
    display: flex;
  }

  .item .category {
    color: #7F8487;
  }

  .item.active .category {
    color: #820000;
  }
  .item.active .image {
    outline: 4px solid #820000;
    border: unset;
  }

  .item .category::before {
    transform: translateX(-100%);
    transition: transform 150ms ease;
  }

  .item.active .category::before {
    top: unset;
    width: unset;
    right: 0;
    height: 5px;
    background: #820000;
    transform: translateX(0%);
  }

  .item .category {
    white-space: nowrap;
    padding: 20px;
  }
  .item .image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-inline: auto;
  }
}
